<?xml version="1.0" encoding="UTF-8"?>
<!--XML file for setting up logging through logback.  This creates the logs as a json object, so they're more easily parsed in Splunk.-->
<configuration debug="true">
    <appender name="SPLUNK" class="ch.qos.logback.core.FileAppender">
        <file>log.txt</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- provides the fields in the configured pattern -->
                <pattern>
                    <!-- the pattern that defines what to include. json_message allows us to easily parse the message data in Splunk. -->
                    <pattern>
                        {
                        "timestamp": "%date{ISO8601}",
                        "logger": "%logger",
                        "level": "%level",
                        "thread": "%thread",
                        "message": "%message",
                        "json_message": "#asJson{%message}",
                        "method": "%method"
                        }
                    </pattern>
                </pattern>
                <!-- Includes a stack trace if a throwable was provided -->
                <stackTrace>
                    <throwableConverter class="ch.qos.logback.classic.pattern.ThrowableProxyConverter"/>
                </stackTrace>
                <!-- Include the provided markers in the log output if available -->
                <logstashMarkers/>
            </providers>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ",GMT} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="SPLUNK"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>